@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: 13, 6, 45;
  --background: 255, 255, 255;
  --div-bg: 245, 245, 245;
}

body {
  font-family: Inter;
  color: rgb(var(--text-color));
  background: rgb(var(--background));
  font-weight: 500;
}
.collapsed {
  width: 0vw;
}
.collapsed .button-center {
  position: absolute;
  right: -35px;
  rotate: 180deg;
  aspect-ratio: 1/1;
}
.collapsed .centered {
  justify-content: center;
  width: 100%;
}
.collapsed h2,
.collapsed h5,
.collapsed h4,
.collapsed .remove-collapse {
  display: none;
}
.expanded {
  width: 20vw;
  min-width: 300px;
}
.h-custom {
  height: calc(100vh - 80px);
}
.lamp {
  background: radial-gradient(#f7edc5, #f5f5f5);
}
